<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
  <title>Landing</title>
</head>
<body>
  <div class="main_content">
    <h1> Enter Data: </h1>
    <form action="success" method="post">
      First Name: <input type="text" name="FirstName"/> <br>
      Last Name: <input type="text" name="LastName"/> <br>
      Language: <input type="text" name="Language"/> <br>
      Dojo Location: 
      <select name="Location">
        <option value="Chicago">Chicago</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="New York">New York</option>
      </select> <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>