<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
  <title>Projects</title>
</head>
<body>
  <div class="main_content"> 
    <h1> Projects Page </h1>
    <img src="~/projects.jpeg">
    <h2> <a href="/"> Home Page </a> </h2>
    <h2> <a href="/contact"> Contact Info </a> </h2>   
  </div>
</body>
</html>